<div class="container-fluid">
  <div class="panel panel-position planel-plus-style">
    <form class="form-horizontal" [formGroup]="form" novalidate (ngSubmit)="save()">
      <div class="panel-heading">
        <h3>
          Car Form
          <a *ngIf="car" class="btn btn-default pull-right" [routerLink]="['/car-form']">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
          <a class="btn btn-default pull-right link-back-list" [routerLink]="['/car-list']">
            List
          </a>
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{'has-error': !form.controls.id.valid && form.controls.id.touched}">
              <label for="carID" class="col-sm-2 control-label">ID</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="carID" placeholder="Cad ID" formControlName="id">
                <span class="help-block" *ngIf="!form.controls.id.valid && form.controls.id.touched">Id field is required</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{'has-error': !form.controls.name.valid && form.controls.name.touched}">
              <label for="carName" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="carName" placeholder="Car Name" formControlName="name">
                <span class="help-block" *ngIf="!form.controls.name.valid && form.controls.name.touched">Name field is required</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{'has-error': !form.controls.year.valid && form.controls.year.touched}">
              <label for="carYear" class="col-sm-2 control-label">Year</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input type="text" class="form-control" id="carYear" placeholder="Car Year" bsDatepicker formControlName="year" [bsConfig]="bsConfig"
                  />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
                <span class="help-block" *ngIf="!form.controls.year.valid && form.controls.year.touched">Year field is required</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{'has-error': !form.controls.price.valid && form.controls.price.touched}">
              <label for="carPrice" class="col-sm-2 control-label">Price</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="carPrice" placeholder="Car Price" formControlName="price">
                <span class="help-block" *ngIf="!form.controls.price.valid && form.controls.price.touched">Price field is required</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{'has-error': !form.controls.brand.valid && form.controls.brand.touched}">
              <label for="carBrand" class="col-sm-2 control-label">Brand</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="carBrand" placeholder="Car Brand" formControlName="brand">
                <span class="help-block" *ngIf="!form.controls.brand.valid && form.controls.brand.touched">Brand field is required</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{'has-error': !form.controls.driver.valid && form.controls.driver.touched}">
              <label for="carDriver" class="col-sm-2 control-label">Driver</label>
              <div class="col-sm-10">
                <select class="form-control" formControlName="driver">
                  <option *ngFor="let driver of driverData" [value]="driver.id">
                    {{ driver.id }} | {{ driver.firstName }} - {{ driver.lastName }} - {{ driver.birthDate }} - {{ driver.certified }}
                  </option>
                </select>
                <span class="help-block" *ngIf="!form.controls.driver.valid && form.controls.driver.touched">Driver field is required</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-success" [disabled]="!form.valid">
          <span class="glyphicon glyphicon-floppy-save"></span> Save
        </button>
        <button type="button" class="btn btn-danger pull-right" [disabled]="!car?.id" (click)="openDeleteModal(car.id)">
          <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
      </div>
    </form>
  </div>
</div>

<modal #deleteModal title="Delete confirmation" cancelButtonLabel="Cancel" submitButtonLabel="Yes" modalClass="modal-lg modal-sm any-other-css-class"
  [hideCloseButton]="false" [closeOnEscape]="true" [closeOnOutsideClick]="true" (onSubmit)="confirmDelete()">
  <modal-content>
    Are you sure you want to delete the car : {{ car?.id }} ?
  </modal-content>
</modal>